@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 3;
}

.fixed-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.nav-links{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-right: 150px;
}

.nav-link{
    width: 112px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #000;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    box-shadow: 5px 5px 0 #000000;
    transition: transform 0.3s ease;
}

.active, .nav-link:hover{
    background-color: #BBFF2C;
    transform: rotate3d(1, 1, 0, 25deg);
}

.logo{
    color: #BBFF2C;
    font-size: 40px;
    padding-left: 50px;
}

section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

#main{
    background: url("../img/bgMAIN.png");
}

#about{
    background: url("../img/bgABOUT.png");
}

#skills{
    background: url("../img/bgSKILLS.png");
}

#works{
    background: url("../img/bgWORKS.png");
}

#comments{
    background: url("../img/bgCOMMENTS.png");
}

.main-block, .about-block, .skills-block, .works-block, .comments-block{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.main-block{
    flex-direction: column;
    height: 100vh;
}

.main-content{
    background: url("../img/form1.png");
    height: 223px;
    width: 849px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}

.main-title{
    color: #2b2d35;
    font-size: 80px;
    padding-top: 67px;
}

.main-subtitle{
    color: #2b2d35;
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
}

.button{
    height: 60px;
    width: 200px;
    border-radius: 100px;
    border: 2px solid black;
    background-color: #BBFF2C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: 5px 5px 0 #000000;
    transition: transform 0.3s ease;
}

.button a{
    font-size: 20px;
    text-decoration: none;
}

.button:hover{
    transform: scale(1.1);
}

.planet{
    background: url("../img/planet.png");
    transform: rotate(176deg);
    right: 20px;
    height: 330px;
    width: 405px;
    position: absolute;
    z-index: 1;
}

.moving{
    background: url("../img/moving-planet.png");
    background-repeat: no-repeat;
    height: 230px;
    width: 200px;
    transform: rotate(-15deg);
    position: absolute;
    bottom: 30px;
    left: 30px;
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animation{
    from{}
    to {margin-bottom: 70px;}
}

.title{
    padding-bottom: 100px;
    text-align: center;
    color: #fff;
    font-size: 80px;
    text-shadow: 5px 5px 0 #000000;
}

.about-content{
    width: 45%;
    height: 270px;
    padding-left: 40px;
    padding-top: 40px;
    background-color: #792aaf;
    display: flex;
    position: relative;
    border-radius: 0px 0px 0px 20px;
}

.about-title{
    color: #fff;
    font-size: 20px;
    max-width: 463px;
    margin-bottom: 20px;
    font-family: "Comfortaa", sans-serif;
}

.about-card{
    background-image: url(../img/form2.png);
    width: 376px;
    height: 346px;
    flex-direction: column;
    padding-top: 20px;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 230px;
}

.about-card p{
    color: #fff;
    font-size: 17px;
    align-self: start;
    padding-left: 20px;
    line-height: 25px;
    font-family: "Comfortaa", sans-serif;
}

.about-card img{
    padding-bottom: 20px;
    width: 150px;
}

.moving-cloud{
    background: url("../img/cloud.png");
    background-repeat: no-repeat;
    height: 230px;
    width: 200px;
    transform: rotate(-15deg);
    position: absolute;
    bottom: 30px;
    left: 30px;
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.skills-card{
    background: url("../img/form3.png");
    height: 450px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: 100px;
    padding-left: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.skills-card p{
    color: #000;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 500px;
    font-family: "Comfortaa", sans-serif;
}

.moving-planet2{
    background: url("../img/moving-planet2.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 208px;
    position: absolute;
    bottom: 30px;
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.works-block img{
    width: 408px;
    height: 275px;
    margin: 18px;
}

.comments-block{
    justify-content: space-evenly;
    max-width: 1150px;
    margin: auto;
    display: flex;
}

.comments-card{
    background: url("../img/card.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    height: 300px;
    max-width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comments-card h3{
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    padding: 10px;
}

.comments-card p{
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
}

.comment{
    background: url("../img/comment.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 327px;
    height: 161px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment p{
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    max-width: 250px;
}

.footer{
    background-color: #200153;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Comfortaa", sans-serif;
    height: 110px;
}

.right-footer p{
    padding-bottom: 10px;
}

.middle_footer p{
    letter-spacing: 1.5px;
}

.left_footer a{
    margin-right: 15px;
}

.mobile-button{
    display: none;
    right: 20px;
    position: absolute;
    padding-top: 10px;
    width: 40px;
}

.hide{
    display: none;
}


.swiper {
    width: 70%;
    height: 70%;
    margin-bottom: 50px;
    border-radius: 50px;
    box-shadow: 7px 7px 0 #792aaf;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  


@media (max-width: 1000px) {
    .btn-hide{
        display: none;
    }
    .off-scroll{
        overflow: hidden;
    }
    .mobile-button{
        display: block;
    }
    .mobile-menu{
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        background-color: #200153;
        min-height: 100vh;
    }
    .mobile-nav{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mobile-nav-links .nav-link{
        margin-bottom: 30px;
        width: 210px;
        height: 50px;
    }
    .nav-links{
        display: none;
    }
    .logo{
        font-size: 40px;
        padding-left: 20px;
        padding-top: 10px;
    }
    .main-content{
        max-width: 320px;
    }
    .main-title{
        font-size: 30px;
        padding-top: 20px;
    }
    .main-subtitle{
        font-size: 15px;
    }
    .moving-cloud, .moving-planet2, .moving {
        display: none;
    }
    .about-block{
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
    }
    .about-card{
        order: -1;
        background-size: contain;
        width: 326px;
        height: 296px;
    }
    .about-card img{
        width: 55%;
    }

    .about-card p{
        color: #792aaf;
    }

    .about-content{
        width: 75%;
        height: 250px;
        margin-bottom: 20px
    }
    .about-title{
        font-size: 18px;
    }

    .skills-card{
        margin: 20px;
        padding-left: 10px;
        background-size: contain;
    }
    
    .skills-card p{
        font-size: 16px;
        margin-top: 15%;
        margin-bottom: 20px;
    }
    
    .skills-section{
        min-height: 60vh;
    }
    
    .skills-card .button{
        position: absolute;
        bottom: 170px;
    }
    
    .skills-card{
        margin-top: 0;
    }

    .works-block{
        flex-direction: column;
        padding: 20px 0;
    }
    
    .works-block img{
        margin: 20px 0;
        width: 80%;
    }
    
    .comments-block{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        padding-top: 50px;
    }
        
    .comment{
        background-image: url("../img/comment-mobile.png");
    }
    
    .comment p{
        font-size: 15px;
        max-width: 290px;
    }
    
    footer{
        height: 200px;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .footer-info{
        text-align: center;
    }

    .button{
        width: 150px;
        height: 40px;
        z-index: 2;
    }    

    .button a{
        font-size: 15px;
    }

    .planet{
        display: none;
    }

    .swiper{
        width: 100%;
        height: 100%;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
      }
}